<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Example</title>
</head>
<body>
<h2>이미지 업로드</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <label for="file">이미지 선택:</label>
    <input type="file" name="file" id="file" accept="image/*">
    <br>
    <input type="button" value="업로드" onclick="uploadImage()">
</form>
<audio controls id="audioPlayer">
    Your browser does not support the audio element.
</audio>

<div id="prompt_result"></div>

<script>
    async function uploadImage() {
        var formData = new FormData(document.getElementById('uploadForm'));
        const audioPlayer = document.getElementById("audioPlayer");

        try {
            const response = await fetch("http://ec2-44-200-25-62.compute-1.amazonaws.com:8000/upload/photo", {
                method: "POST",
                body: formData,
            });

            if (response.ok) {
                alert("Audio creation complete");
                const blob = await response.blob();
                const objectURL = URL.createObjectURL(blob);
                audioPlayer.src = objectURL;
                // audioPlayer.play();
            } else {
                alert("Error converting image to WAV");
            }

        } catch (error) {
            console.error("Error:", error);
            alert("Error converting image to WAV");
        }
    }
</script>
</body>
</html>